<!doctype html>
<html>
<head><title>Secured Homework Help</title></head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if current_user.is_authenticated %}
            <span>User: {{ current_user.username }} ({{ current_user.credits }}$)</span>
            <a href="/ask">Ask Question</a>
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
    </nav>
    <hr>
    {% block body %}{% endblock %}
</body>
</html>